The Infinite Clips AI Machine.json
{
  "name": "The Infinite Clips AI Machine",
  "nodes": [
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        736,
        -656
      ],
      "id": "741bcb0a-a68d-4fe3-b059-ce4aafb9146d",
      "name": "Wait",
      "webhookId": "8e4dca57-cfcf-4bc8-a739-1fb3f8942285"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Egz48qUvhVCWoaF11fedsgbuRNrN8JF8MapcZ7vw3j8",
          "mode": "list",
          "cachedResultName": "R32 | The AI Clip Factory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Egz48qUvhVCWoaF11fedsgbuRNrN8JF8MapcZ7vw3j8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Egz48qUvhVCWoaF11fedsgbuRNrN8JF8MapcZ7vw3j8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "production_status",
              "lookupValue": "for production"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        736,
        -784
      ],
      "id": "eef428c6-69c7-49b6-859b-41df00ecc596",
      "name": "Get Longform"
    },
    {
      "parameters": {
        "url": "=https://api.klap.app/v2/tasks/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        -656
      ],
      "id": "b6988ffc-627c-4974-b2bf-37ed6dccbbbb",
      "name": "Get Status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.klap.app/v2/projects/{{ $json.folder_id }}/{{ $json.id }}/exports",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"preset_id\": \"123\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        -512
      ],
      "id": "e19c15cb-1568-492e-89b1-7ba45902f538",
      "name": "Export Shorts"
    },
    {
      "parameters": {
        "url": "=https://api.klap.app/v2/projects/{{ $json.folder_id }}/{{ $json.id }}/exports/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        -512
      ],
      "id": "5b84ec76-e2ad-417f-9c5e-e17bbb68949c",
      "name": "Get Shorts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Get Shorts Details').item.json.name }}\",\n      \"privacyStatus\": \"unlisted\",\n      \"shouldNotifySubscribers\":false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get Shorts Details').item.json.publication_captions.youtube }}\",\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"218\"\n  }\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 10000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        -96
      ],
      "id": "cf177c0c-fa8b-42c4-bdc9-2264656e20ba",
      "name": "🔺YOUTUBE"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get Shorts Details').item.json.publication_captions.instagram }}\",\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"4116\"\n  }\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 10000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        -224
      ],
      "id": "e78b1f40-4673-42ad-913c-4566511df968",
      "name": "📷 INSTAGRAM"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": false,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get Shorts Details').item.json.publication_captions.tiktok }}\",\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"1119\"\n  }\n} ",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 10000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        -368
      ],
      "id": "cd9201b0-4065-4cff-9555-729793b5bf88",
      "name": "🎵 TIKTOK"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get Shorts Details').item.json.publication_captions.linkedin }}\",\n      \"platform\": \"linkedin\",\n      \"mediaUrls\": [ \"{{ $json.url }}\" ]\n    },\n    \"accountId\": \"969\"\n  }\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 10000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        64
      ],
      "id": "da74d09c-efb7-4610-a6b8-aad7b7e9de4f",
      "name": "👔 LINKEDIN"
    },
    {
      "parameters": {
        "content": "## Step 2: Analyze Longform",
        "height": 100,
        "width": 700,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        -656
      ],
      "id": "1316c158-5ed4-4340-a54c-0af0319c6400",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Step 3: Produce Shorts",
        "height": 100,
        "width": 540,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -512
      ],
      "id": "dba8d352-b386-4bc9-8c43-2158c9933433",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Step 4: Publish Shorts",
        "height": 100,
        "width": 280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        -368
      ],
      "id": "d87b8364-2269-4be2-a75e-af69fa098f7a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Step 1: Get Longform",
        "height": 100,
        "width": 840,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        -784
      ],
      "id": "5ea427fb-7fad-4593-b707-303ef0e200d2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        576,
        -784
      ],
      "id": "88d0be61-537b-4908-976e-71de13ba621c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.klap.app/v2/tasks/video-to-shorts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_video_url\": \"{{ $json.longform_links }}\",\n\n  \"language\": \"en\",\n  \"target_clip_count\": 2,\n  \"max_clip_count\": 2,\n\n\n  \"editing_options\": {\n    \"captions\": true,\n    \"reframe\": true,\n    \"emojis\": true,\n    \"remove_silences\": true,\n    \"intro_title\": false\n  },\n\n\n  \"dimensions\": {\n    \"width\": 1080,\n    \"height\": 1920\n  },\n\n\n  \"min_duration\": 15,\n  \"max_duration\": 60,\n  \"target_duration\": 30\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        -656
      ],
      "id": "2b7a1e04-ed43-41fc-be5a-f6399bb82815",
      "name": "Analyze Longform"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "20719646-7931-45f3-bb0e-e850d79a5b2d",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1056,
        -656
      ],
      "id": "71d77710-4924-4c29-9e7b-5f7097cfc47a",
      "name": "Ready?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "20719646-7931-45f3-bb0e-e850d79a5b2d",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1056,
        -512
      ],
      "id": "9a3b7078-f97d-41a8-9e75-acf7673c2e96",
      "name": "Ready? 2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Egz48qUvhVCWoaF11fedsgbuRNrN8JF8MapcZ7vw3j8",
          "mode": "list",
          "cachedResultName": "R32 | The AI Clip Factory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Egz48qUvhVCWoaF11fedsgbuRNrN8JF8MapcZ7vw3j8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1447421682,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Egz48qUvhVCWoaF11fedsgbuRNrN8JF8MapcZ7vw3j8/edit#gid=1447421682"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "==ROW()-1",
            "shortform_links": "={{ $('Ready? 2').item.json.src_url }}",
            "publishing_status": "for publishing",
            "date_produced": "={{ new Date().toISOString().split('T')[0] }}",
            "tiktok_caption": "={{ $('Get Shorts Details').item.json.publication_captions.tiktok }}",
            "youtube_caption": "={{ $('Get Shorts Details').item.json.publication_captions.youtube }}",
            "instagram_caption": "={{ $('Get Shorts Details').item.json.publication_captions.instagram }}",
            "linkedin_caption": "={{ $('Get Shorts Details').item.json.publication_captions.linkedin }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "shortform_links",
              "displayName": "shortform_links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tiktok_caption",
              "displayName": "tiktok_caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "instagram_caption",
              "displayName": "instagram_caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "youtube_caption",
              "displayName": "youtube_caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin_caption",
              "displayName": "linkedin_caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "publishing_status",
              "displayName": "publishing_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_produced",
              "displayName": "date_produced",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        448,
        -368
      ],
      "id": "fc1ce312-67cf-459c-83c8-43f56d23f7c0",
      "name": "Log Shorts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.shortform_links }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        -368
      ],
      "id": "af9d28b6-29cc-4224-866f-669a54de25ef",
      "name": "Load Shorts"
    },
    {
      "parameters": {
        "url": "=https://api.klap.app/v2/projects/{{ $json.output_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        -656
      ],
      "id": "7ee01644-d872-41b0-824e-0a8fa76d70a7",
      "name": "Get Shorts Details"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Egz48qUvhVCWoaF11fedsgbuRNrN8JF8MapcZ7vw3j8",
          "mode": "list",
          "cachedResultName": "R32 | The AI Clip Factory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Egz48qUvhVCWoaF11fedsgbuRNrN8JF8MapcZ7vw3j8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GPItovC-npqC7NqNayxmJtpBYX7E074RWV19SOPVA7Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get Longform').item.json.id }}",
            "date_produced": "={{ new Date().toISOString().split('T')[0] }}",
            "production_status": "done"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "longform_links",
              "displayName": "longform_links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "production_status",
              "displayName": "production_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_produced",
              "displayName": "date_produced",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1216,
        -512
      ],
      "id": "0fbbafc4-c597-4bcd-9894-1fe46fda6820",
      "name": "Update Longform Status",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Egz48qUvhVCWoaF11fedsgbuRNrN8JF8MapcZ7vw3j8",
          "mode": "list",
          "cachedResultName": "R32 | The AI Clip Factory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Egz48qUvhVCWoaF11fedsgbuRNrN8JF8MapcZ7vw3j8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1447421682,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Egz48qUvhVCWoaF11fedsgbuRNrN8JF8MapcZ7vw3j8/edit#gid=1447421682"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "shortform_links": "={{ $('Log Shorts').item.json.shortform_links }}",
            "publishing_status": "done",
            "date_published": "={{ new Date().toISOString().split('T')[0] }}"
          },
          "matchingColumns": [
            "shortform_links"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "shortform_links",
              "displayName": "shortform_links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tiktok_caption",
              "displayName": "tiktok_caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "instagram_caption",
              "displayName": "instagram_caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "youtube_caption",
              "displayName": "youtube_caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin_caption",
              "displayName": "linkedin_caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "publishing_status",
              "displayName": "publishing_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_published",
              "displayName": "date_published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1216,
        192
      ],
      "id": "23105808-a72c-458d-9dc8-ea234773394f",
      "name": "Update Shorts Status",
      "executeOnce": false
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        736,
        -512
      ],
      "id": "473df436-dc30-4107-947e-4934612d148c",
      "name": "Wait 2",
      "webhookId": "50e4698e-d88d-4860-ac24-d5687be3f4d1"
    },
    {
      "parameters": {
        "content": "# The Infinite Clips AI Machine",
        "height": 180,
        "width": 1680,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        -896
      ],
      "id": "56bfb666-6d13-401d-a0b5-82b25125627d",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Longform": {
      "main": [
        [
          {
            "node": "Analyze Longform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status": {
      "main": [
        [
          {
            "node": "Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Shorts": {
      "main": [
        [
          {
            "node": "Wait 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shorts": {
      "main": [
        [
          {
            "node": "Ready? 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Longform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Longform": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ready?": {
      "main": [
        [
          {
            "node": "Get Shorts Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ready? 2": {
      "main": [
        [
          {
            "node": "Update Longform Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Shorts": {
      "main": [
        [
          {
            "node": "Load Shorts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Shorts": {
      "main": [
        [
          {
            "node": "🎵 TIKTOK",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔺YOUTUBE",
            "type": "main",
            "index": 0
          },
          {
            "node": "📷 INSTAGRAM",
            "type": "main",
            "index": 0
          },
          {
            "node": "👔 LINKEDIN",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Shorts Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shorts Details": {
      "main": [
        [
          {
            "node": "Export Shorts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Longform Status": {
      "main": [
        [
          {
            "node": "Log Shorts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2": {
      "main": [
        [
          {
            "node": "Get Shorts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3b53ceca-9675-45e7-80ae-d5dd417ff017",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "486f6ab233e310095534742d326fe4f5df97a9f51652428851fe88dc9653e1f6"
  },
  "id": "732Q6vKEGCLLrnKw",
  "tags": []
}